@model IEnumerable<NewsListViewModel>
@{
    ViewData["Title"] = "Xəbərlər siyahısı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Datatables -->
<link href="~/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/lib/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Xəbərlər <small>Siyahı</small> </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">

            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap no-footer">

                <div class="col-sm-12">
                    <table id="niko" class="table table-striped table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 0px;">Başlıq</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 0px;">Kateqoriya</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 0px;">Yayımlanma tarixi</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 0px;">Trenddir</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 0px;">Əlavə edən</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 0px;">Redakə edən</th><th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 0px;"></th></tr>
                        </thead>



                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr role="row" class="odd" id="@item.Id">
                                    <td class="sorting_1">@item.Title</td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.PublishedDate</td>
                                    @if (item.onTrending)
                                    {
                                        <td align="center"><i class="fa fa-check-circle"></i></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@item.Editor.FirstName  @item.Editor.LastName </td>
                                    @if (item.UpdateUser != null)
                                    {
                                        <td>@item.UpdateUser.FirstName  @item.UpdateUser.LastName </td>
                                    }
                                    else
                                    {
                                        <td>yoxdur</td>
                                    }

                                    <td>
                                        <a asp-controller="news" asp-action="updatenews" asp-route-id="@item.Id" class="fa fa-pencil-square">redaktə et</a>
                                        <br />
                                        <a id="@item.Id" href="#" class="fa fa-remove">sil</a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script src="~/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script>
            $(document).ready(function () {
                $('#niko').DataTable({
                    "language": {
                        "lengthMenu": "Səhifədə _MENU_ nəticə göstər",
                        "zeroRecords": "Nəticə tapılmadı",
                        "info": "_TOTAL_ nəticədən _PAGE_ - _PAGES_ arası nəticələr",
                        "infoEmpty": "nəticə yoxdur",
                        "infoFiltered": "( _MAX_ nəticə içindən tapılanlar)",
                        "paginate": {
                            "sFirst": "İlk",
                            "sLast": "Axırıncı",
                            "sNext": "Sonraki",
                            "sPrevious": "Öncəki"
                        }
                    },
                    "order": [[2, 'desc']]


                });

                $(document).on("click", ".fa-remove", function () {
                    var id = $(this).attr("id");
                    swal({
                        title: "Diqqət!",
                        text: "Silmək istədiyinizə əminsiniz?",
                        type: "info",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true,
                        confirmButtonText: "Bəli",
                        cancelButtonText: "Xeyr, Ləğv et!"
                    }, function () {

                        $.ajax({
                            url: '/admin/news/deletenews',
                            type: 'POST',
                            data: {
                                Id: id
                            },
                            success: function (result) {
                                if (result.status) {
                                    $('table#niko tr#' + id).remove();
                                    swal({
                                        title: "Uğurlu!",
                                        text: "Silindi!",
                                        type: "success"
                                    });
                                } else {
                                    swal({
                                        title: "Uğursuz!",
                                        text: "Dəyişikliklər yerinə yetirilmədi!",
                                        type: "error"
                                    });
                                }
                            },
                            error: function (result) {
                                swal({
                                    title: "Uğursuz!",
                                    text: "Dəyişikliklər yerinə yetirilmədi!",
                                    type: "error"
                                });
                            }
                        });
                    });
                });

            });
    </script>
}
